body {
  background-color: hsl(0, 0%, 30%);
  margin: 0;
}

.container {
  background-image: linear-gradient(to bottom right, #5c00aa8a, #00cdff78);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.scoreContainer {
  position: relative;
  bottom: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 1;
  padding: 0rem 3rem;
  gap: 2rem;
}

.player1 {
  color:hsl(52, 38%, 55%);
}

.player1, .player2 {
  text-decoration: underline;
  font-weight: 600;
}

.player2 {
  color:hsl(192, 56%, 63%);
}

.player1, .player2,
.playerScore1 p, .playerScore2 p {
  font-size: 2.5rem;
  margin: 0px;
}

.playerScore1 p {
  color: hsl(52, 38%, 55%);
}

.playerScore2 p {
  color:hsl(192, 56%, 63%);
}

.playerScore1, .playerScore2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}

.board {
  display: flex;
  position: relative;
  width: 50%;
  height: 75%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  flex-grow: 1;
}

.row1,
.row2,
.row3 {
  position: relative;
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.square1,
.square2,
.square3,
.square4,
.square5,
.square6,
.square7,
.square8,
.square9 {
  width: 33%;
  border: 0.3rem solid #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.player-x,
.player-o {
  font-size: 5rem;
  color: hsl(52, 38%, 55%);
}

.player-o {
  color: hsl(192, 56%, 63%);
}

.hasLetter {
  pointer-events: none;
}